<div class="calculator-container">
  <div class="calculator">
    <input
      type="text"
      class="calculator-screen"
      [value]="displayValue"
      disabled
    />
    <div class="calculator-buttons">
      <button (click)="clear()">C</button>
      <button (click)="deleteLast()">⌫</button>
      <button (click)="inputOperator('/')">÷</button>
      <button (click)="inputOperator('*')">×</button>

      <button (click)="inputNumber(7)">7</button>
      <button (click)="inputNumber(8)">8</button>
      <button (click)="inputNumber(9)">9</button>
      <button (click)="inputOperator('-')">-</button>

      <button (click)="inputNumber(4)">4</button>
      <button (click)="inputNumber(5)">5</button>
      <button (click)="inputNumber(6)">6</button>
      <button (click)="inputOperator('+')">+</button>

      <button (click)="inputNumber(1)">1</button>
      <button (click)="inputNumber(2)">2</button>
      <button (click)="inputNumber(3)">3</button>
      <button class="equal-button" rowspan="2" (click)="calculate()">=</button>

      <button (click)="inputNumber(0)">0</button>
      <button (click)="inputDecimal()">.</button>
    </div>
  </div>
</div>
